<p>botones works!</p>

<div>
    <button [class.disabled]="estadoBoton" class="btn btn-danger estadoBoton"(click)= "textColor ='text-danger'">Color Rojo</button> 
    <button [class.disabled]="estadoBoton" class="btn btn-success mx-2 estadoBoton"(click)= "textColor ='text-success'">Color Verde</button>
    <button [class.disabled]="estadoBoton" class="btn btn-primary estadoBoton"(click)= "textColor ='text-primary'">Color azul</button>
</div>

<p [class]="textColor">Texto que va a cambiar de color</p>

<button class="btn btn-secondary" (click)="estadoBoton=!estadoBoton">
    Activar/Desactivar
</button> 

<button class= "mx-2" (click)="textColor = 'text-dark'">reestablecer</button>
<a href="https://www.w3schools.com">Visit W3Schools</a>