
<section>
    <html lang="es">
    <head>

      <title>Login principal</title>

    </head>

    <body>

        <nav class="formulario">

            <div class="card">

                <h1 class="titulo-Login"> Login</h1>
                
                <div class="card-body">

                    <form #formularioLogin="ngForm">

                        <div class="mb-2">
                            <label for="">
                                Usuario: *
                            </label>
                            <input type="text" name="usuario" class="form-control" placeholder="Ingrese su usuario" [(ngModel)]="Credenciales.usuario" required #usuario ="ngModel">
                            <div class="alert alert-danger mt-2" [hidden]="usuario.valid || usuario.pristine">

                                Este campo es obligatorio

                            </div>

                        </div>

                        <div class="mb-2">
                            <label for="">Contraseña: *</label>
                            <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" class="form-control" placeholder="Ingrese su Contraseña" [(ngModel)]="Credenciales.password" required #password ="ngModel">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="showPassword" (change)="toggleShowPassword()" [(ngModel)]="showPassword">
                                <label for="showPassword">Mostrar Contraseña</label>
                              </div>

                            <div class="alert alert-danger mt-2" [hidden]="password.valid || password.pristine">
                              Este campo es obligatorio
                            </div>
                          </div>
                          
                        <nav class="botones-login">
                            <button class="opciones-login" [disabled]="formularioLogin.invalid"(click)="autenticarLogin()">
                                Ingresar
                            </button>
                            <button class="opciones-login" (click)="refreshPage()">
                                cancelar
                            </button>

                        </nav>
                    </form>
                </div>
            </div>
        </nav>
    </body>
    </html>
  </section>