<section>
    <html lang="es">
    <head>
      <title>Interfaz Común</title>
    </head>
    <style>
      /*@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');*/
      </style>
    <body>
      <div class="frame-superior">
        <img src="assets/Imagenes/iconoCMDB.svg" alt="Logo Cel Manía" class="logo">

        <a href="" class="home"><img src="assets/Imagenes/house-solid.svg" alt="icono home" class="home"></a>
      </div>
      </body>
    </html>
  </section>
  
  