<section>
  <html lang="es">
  <head>
    <title>Pantalla principal</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
    </style>
  <body>
    <div class="frame-superior">
      <img src="assets/Imagenes/iconoCMDB.svg" alt="Logo de la empresa" class="logo">
    </div>
    <nav class="menu-horizontal">
      <a href="formulario,component.html" class="opcion-menu">Inventario</a>
      <a href="#" class="opcion-menu">Cuentas por Pagar</a>
      <a href="#" class="opcion-menu">Venta</a>
      <a href="#" class="opcion-menu">Cartera</a>
      <a href="#" class="opcion-menu">Clientes</a>
      <a href="#" class="opcion-menu">Proveedores</a>
      <a href="#" class="opcion-menu">Garantía</a>
    </nav>
    </body>
  </html>
</section>

