.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: flex; /* Agregado para centrar elementos dentro de la tarjeta */
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
  table-layout: fixed;
}

.thead-dark th {
  background-color: #525252;
  color: white;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #F0F0F0;
}

tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tbody td, tbody th {
  padding: 10px;
  border-bottom: 1px solid #B2B2B2;
}

tbody tr:hover {
  background-color: #B2B2B2;
  color: white;
}

.busqueda {
  margin: 10px;
  width: 100%;
  max-width: 290px; 
}

.home {
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.funciones_Consultar:hover{
  background-color: #B2B2B2;
  box-shadow: 6px 5px 5px 0 rgba(0, 0, 0, 0.80);
  color: black;

}