<section>
    <html lang="es">
    <head>
      <title>Pantalla principal</title>
    </head>
    <body>
      <nav class="menu-horizontal">
        <a href="/404page" class="opcion-menu">Inventario</a>
        <a href="404page" class="opcion-menu">Cuentas por Pagar</a>
        <a href="404page" class="opcion-menu">Venta</a>
        <a href="404page" class="opcion-menu">Cartera</a>
        <a href="/clientes" class="opcion-menu">Clientes</a>
        <a href="/proveedores" class="opcion-menu">Proveedores</a>
        <a href="404page" class="opcion-menu">Garantía</a>
      </nav>
      </body>
    </html>
</section>
  