<section>
    <html lang="es">
    <head>
      <title>Pantalla Principal Clientes</title>
    </head>
    <body>
      <nav class="menu-horizontal">
        <a href="404page" class="opcion-menu">Inventario</a>
        <a href="404page" class="opcion-menu">Cuentas por Pagar</a>
        <a href="404page" class="opcion-menu">Venta</a>
        <a href="404page" class="opcion-menu">Cartera</a>
        <a href="principal/clientes" class="opcion-menu-seleccionado">Clientes</a>
        <a href="principal/proveedores" class="opcion-menu">Proveedores</a>
        <a href="404page" class="opcion-menu">Garantía</a>

        <a href="principal/menu"><img src="assets/Imagenes/house-solid.svg" alt="icono home" class="home"></a>
      </nav>

      <nav class="botones-opciones-clientes">
       <a href="principal/clientes/RegistrarCliente" class="opciones-clientes">Registrar Cliente</a>
       <a href="404page" class="opciones-clientes">Actualizar Cliente</a>
       <a href="404page" class="opciones-clientes">Consultar Cliente</a>
       <a href="404page" class="opciones-clientes">Desactivar Cliente</a>
       <a href="404page" class="opciones-clientes">Activar Cliente</a>

      </nav>
      </body>
    </html>
  </section>
  
  