  /* Estilo general */
  body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
  }

  /* Frame superior */
  .frame-superior {
    background-color: #FFFFFF;
    height: 100px;
    max-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  /* Menú horizontal */

  .ledger-regular {
    font-family: "Ledger", serif;
    font-weight: 200;
    font-style: normal;
  }

  .menu-horizontal {
    background-color: #525252;
    padding: 10;
    max-width: 912px;
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
    font-family: "Ledger", sans-serif;
  }

  .opcion-menu {
    padding: 15px 24px;
    text-decoration: none;
    color: white;
    transition: background-color 1s ease;
  }

  .opcion-menu-seleccionado {
    padding: 15px 24px;
    text-decoration: none;
    background-color: #B2B2B2;
    box-shadow: 12px 10px 10px 0 rgba(0, 0, 0, 0.80);
    color: black;
  }

  .opcion-menu:hover {
    padding: 15px 24px;
    background-color: #B2B2B2;
    box-shadow: 12px 10px 10px 0 rgba(0, 0, 0, 0.80);
    color: black;
  } 

  /* Botones opciones clientes*/

  .botones-opciones-clientes {
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para colocar las opciones horizontalmente */
    justify-content: center; /* Centra las opciones horizontalmente */
  }
  .opciones-clientes{
    background-color: #525252;

    text-decoration: none;
    color: white;
    font-family: "Ledger", sans-serif;

    justify-content: center;
    padding: 20px 50px;
    transition: background-color 1s ease;
    margin: 50px auto;
  }

  .opciones-clientes:hover{
    padding: 20px 50px;
    background-color: #B2B2B2;
    box-shadow: 12px 10px 10px 0 rgba(0, 0, 0, 0.80);
    color: black;
  }

  .botonoes-opciones-clientes {
    display: flex; 
    align-items: center; 
    margin: 0 auto; 
    padding: 200px 50px; 
  }
